@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --aqua: #00BCD4;
  --aqua-light: #e0f3f6;
  --aqua-dark: #0080a0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f9fafb;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  font: inherit;
}
